<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-uppercase">
    <div class="container-fluid">
      <a class="navbar-brand mt-2" href="#">
        <% if(currentUser.usertype!=='user'){ %> 
        <img src="https://image.flaticon.com/icons/png/512/1995/1995470.png" alt="" width="50" height="40" class="d-inline-block">
        <% }else{ %> 
        <img src="https://image.flaticon.com/icons/png/512/3011/3011270.png" alt="" width="50" height="40" class="d-inline-block">
        <% } %> 
        <%= currentUser.username %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(currentUser.usertype=='user'){%> 
          <li class="nav-item">
            <a class="nav-link mt-1" aria-current="page" href="/<%=currentUser.usertype %>/dashboard">Home</a>
          </li>
          <% } %> 
          <% if(currentUser.usertype=='mechanic'){%> 
          <li class="nav-item">
            <a class="nav-link mt-1" aria-current="page" href="/<%=currentUser.usertype %>/dashboard">ServiceBook</a>
          </li>
          <% } %> 
          <!-- <li class="nav-item">
            <a class="nav-link" href="/user/userProfile"><i class="far fa-user-circle" style="font-size: 1.5em;"></i>My Account</a>
          </li> -->
          <% if(currentUser.usertype=='user'){%> 
          <li class="nav-item">
            <a class="nav-link mt-1" aria-current="page" href="/user/bookings">My Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mt-1" aria-current="page" href="#">Notifications</a>
          </li>
          <% } %> 
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> -->
        <div class="navbar-nav ml-auto">
          <% if(currentUser) {%>            
            <a class="nav-link" href="/<%=currentUser.usertype %>/account"><i class="far fa-user-circle" style="font-size: 1.5em;"></i>My Account</a>           
            <!-- <a class="nav-link text-white" href="#">Hello <%= currentUser.username %> </a> -->
            <a class="nav-link" style="margin-top: 9px;" href="/logout">Logout</a>
          <% } %> 
        </div>

      </div>
    </div>
  </nav>
