<%- include("../partials/header") %> 
<%- include("../partials/navbar") %> 



<div class="container">

    
    <div class="card" style="width: 18rem;">
        <img src="<%=data.img %> " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=data.name %> </h5>
          <p class="card-text"><%=data.description %> </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>





<%- include("../partials/footer") %> 